{% extends "base.html" %}
{% block content %}
<div class="container" style="text-align: center;">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    .container{
        font-family: 'Do Hyeon', sans-serif;
    }
</style>

    <h5 class="my-3 border-bottom pb-2"><strong>HCONNECT 로그인</strong></h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.data or '' }}" style="width:300px;height:50px;font-size:20px;
                   text-align:center; display:block; margin: 0 auto;">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.data or '' }}" style="width:300px;height:50px;font-size:20px;
                   text-align:center; display:block; margin: 0 auto;">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
{% endblock %}